app = "nginx-grafana-infinitedim" # ganti sesuai nama app di fly
kill_signal = "SIGINT"
kill_timeout = 5

[build]
dockerfile = "Dockerfile"
image = "registry.fly.io/nginx-grafana-infinitedim:latest" # optional

[[services]]
internal_port = 80
protocol = "tcp"

[[services.ports]]
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls"]
port = 443

[[services.tcp_checks]]
interval = 10000
timeout = 2000
restart_limit = 0
